/*
 * General setup for webpages
 */

@import "https://fonts.googleapis.com/css?family=Lato:900,700,400|Khula:400|Julius Sans One:600,400|Heebo:600,400";

html {
  -webkit-font-smoothing: antialiased;
  max-width: 100vw;

}
head {
  background-color: white;
}
body {
  background-color: white;
  margin: 0;
  border-radius: 0;
  padding: 0;
  min-height: 100%;
  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;
}

/* Navigation bar */
.nav {
  transition-duration: 1s;
  background-color: rgba(255, 255, 255, 0.9);
  height: 7vh !important;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  background-image: none;
  width: 100vw !important;
  height: 7vh;
}
.navbar-nav {
  display: block;
  padding: 0;
  padding-left: 1.5%;
  padding-bottom: 0%;
  background-color: transparent;
  font-family: "Khula";
  font-size: 13pt;
  min-height: 7vh !important;
  color: rgba(10, 10, 10, 0.9);
}
.navbar-nav li a {
  font-weight: 400;
  color: rgba(10, 10, 10, 0.9);
  height: 7vh;
}
.navbar-nav li a:hover {
  background-color: rgba(20, 20, 20, 0.3) !important;
  color: white !important;
  height: 7vh;
}
.navbar-nav li.active, li.active a, li.active a:hover, li.active a:visited {
  background-color: rgba(0, 180, 180, 1);
  color: white;
  height: 7vh;
}
.icon-bar {
  background-color: rgb(0, 180, 180);
  color: rgb(0, 180, 180);
}


/* General container */
.container-fluid {
  background-color: white;
  padding: 0px;
  margin: 0px;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
/* Span line */
.line {
  display: inline-flex;
  height: 4px;
  width: 32%;
  margin-bottom: 18%;
}
/* Button */
.btn a {
  color: rgb(90, 90, 90);
}
/* General styling */
p a {
  color: rgb(0, 180, 180);
}
a:hover {
  cursor: pointer;
}
.img-circle {
  padding: 4px;
}
.img-circle {
  color: white;
  background-color: white;
}

/* Footer */
.footer {
  align-self: center;
  padding-top: 6px;
  padding-bottom: 3px;
  background-color: rgb(240, 244, 248) !important;
  border-radius: 1px;
  border-color: rgb(90, 90, 90);
  margin-bottom: 0;
}
.footer h5 {
  text-align: center;
  padding: 0px;
}
.footer a {
  padding: 3px;
  color: navy;
}

/* Setting default font style */
p, li, li>a, li>a:hover {
  font-family: "Khula", sans-serif;
  font-size: 11pt;
  line-height: 150%;
}
h2 {
  font-size: 25pt;
  font-weight: bold;
}

/* Scroll (Chrome) */
.custom-scroll {
  position: absolute;
  display: block;
  overflow: scroll;
}
.custom-scroll::-webkit-scrollbar {
  width: 3.5px;
  background-color: transparent;
  position: left;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, 0.7);
}
::-webkit-scrollbar:horizontal {
  display: none;
}
