body {
  background-color: transparent;
  background-image: url('../img/landing/landing-1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow-y: hidden;
}
html,
body,
main {
  background-color: transparent;
}
.landing {
  z-index: 1;
  position: fixed;
  width: 100%;
  max-height: 50%;
  color: white;
  text-align: center;
}
.landing h1 {
  padding-top: 0.5%;
  /*background-color: rgba(40,40,40,0.6);*/
  font-family: "Yantramanav";
  font-weight: 500;
  text-transform: uppercase;
  color: white;
}
.navbar {
  position: fixed;
  z-index: 2;
  margin: 0 auto;
  padding: 0;
}
.navbar-nav .nav-link {
  height: 100%;
  color: white;
  font-weight: 300;
  border: 2px solid transparent;
  transition: 0.25s ease;
}
.navbar, .nav-link, a:hover.nav-link {
  border-radius: 10px;
}
.navbar-toggler {
  margin: 10% auto;
  width: 50px;
  height: 35px;
  background-color: transparent;
  border: none;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-toggler-icon {
  width: 150%;
  height: 150%;
}
a:hover.nav-link {
  background-color: rgba(255,255,255,0.9);
  color: rgb(25,25,25);
  border: 2px solid rgba(25,25,25,0.75);
}
.quote {
  position: absolute;
  margin: 0 10%;
  width: 80%;
  color: white;
  text-align: center;
}
.quote p { /* TODO: Use a fancy font here */
  font-size: 1rem;
  font-style: italic;
}
@media only screen and (max-width: 576px) {
  .landing {
    top: 30%;
    text-align: center;
  }
  .landing h1 {
    font-size: 4rem;
  }
  .navbar {
    margin: 0 30vw;
    width: 40vw;
    top: 55%;
    background-color: transparent;
  }
  .navbar-nav,
  .collapse.navbar-collapse,
  .collapse.navbar-collapsing {
    border-radius: 10px;
    background-color: rgba(25,25,25,0.75);
  }
  .navbar-nav .nav-link {
    width: 40vw;
    font-size: 9.5pt;
    text-align: center;
  }
  .quote {
    top: 90.5%;
  }
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .landing {
    top: 30%;
    text-align: center;
  }
  .landing h1 {
    font-size: 5rem;
  }
  .navbar {
    margin: 0 35vw;
    width: 30vw;
    top: 55%;
    background-color: transparent;
  }
  .navbar-nav,
  .collapse.navbar-collapse,
  .collapse.navbar-collapsing {
    border-radius: 10px;
    background-color: rgba(25,25,25,0.75);
  }
  .navbar-nav .nav-link {
    padding-top: 4px;
    width: 30vw;
    font-size: 12pt;
    text-align: center;
  }
  .quote {
    top: 90.5%;
  }
}
@media only screen and (min-width: 768px) {
  .landing {
    top: 27.5%;
  }
  .landing h1 {
    font-size: 6rem;
  }
  .navbar {
    margin: 0 40vw;
    width: 20vw;
    height: 37px;
    top: 60%;
    background-color: rgba(25,25,25,0.75);
  }
  .navbar-nav .nav-link {
    padding-top: 4px;
    width: 20vw;
    font-size: 12pt;
    text-align: center;
  }
  .quote {
    top: 92%;
  }
}
@media only screen and (min-width: 992px) {
  .navbar {
    margin: 0 43.75vw;
    width: 15vw;
  }
  .navbar-nav .nav-link {
    width: 15vw;
  }
  .quote {
    top: 93%;
  }
}
