
/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  html {
    font-size: 15pt;
  }
  a.link {
    border-radius: 7px;
  }
  a.transparent-link {
    padding: 1.5% 5%;
    border-radius: 9px;
  }
  /***********
  NAV
  ***********/

  /***********
  INTRO
  ***********/
  .bio {
    padding: 0 17.5%;
  }
  .description p {
    font-size: 0.7rem;
    line-height: 1.1rem;
  }
  .hyperlinks {
    padding: 1.5% 17.5%;
  }
  /***********
  EDUCATION
  ***********/
  .education section {
    margin: 0 17.5% 2.5%;
    padding: 2% 1.5% 1.25%;
  }
  .education > .row {
    padding-top: 2%;
  }
  .education h4 {
    font-size: 15pt;
    line-height: 18pt;
  }
  .education h5 {
    font-size: 13pt;
  }
  .education-content {
    padding-top: 1%;
  }
  p.education-stats {
    font-size: 12pt;
  }
  p.education-text {
    font-size: 10.5pt;
  }

  /***********
  SKILLS
  ***********/
  .skills {
    padding: 5% 10% 0;
  }
  .skills-toggler img {
    max-width: 60%;
  }
  .skills-toggler h5 {
    font-size: 0.9rem;
  }
  .collapse-skills {
    width: 60%;
  }
  .collapse-skills p {
    font-size: 0.75rem;
  }

  /***********
  EXPERIENCE
  ***********/
  .experience-description {
    padding: 4% 8%;
  }
  .experience img {
    margin: 0 auto;
    max-height: 40px;
  }
  a.experience-link {
    border-radius: 11px;
  }
  h5.experience-title {
    font-size: 0.8rem;
  }
  p.experience-subhead {
    font-size: 0.65rem;
  }
  .experience-body {
    margin: 2.5% 0 0 0;
  }
  p.experience-body {
    font-size: 0.6rem;
    line-height: 1.05rem;
  }
  /***********
  READING
  ***********/
  .bookshelf img {
    width: 144px;
    height: 216px;
  }
  /***********
  FOOTER
  ***********/
}
