/*
 * Main page
 * Common setup elements in general.css
 */

/* Image header */
.img-caption {
  position: absolute;
  top: 48.2vh;
  left: 0;
  right: 1vh;
  color: white;
  opacity: 0.9;
  font-size: 10pt;
}
.img-caption a {
  color: white;
  opacity: 0.9;
  font-size: 10pt;
}
.background-image {
  position: relative;
  width: 100vw;
  padding: 0;
  top: -25vh;
  height: 100vh;
  left: 0;
  right: 100vw;
}
.background-img img-responsive {
  height: 100vh;
}
.content-box {
   position: absolute;
   top: 17vh;
   left: 0;
   width: 100%;
}
.content-box h1 {
  color: white;
  font-size: 60pt;
}

.icon-bar {
  background-color: rgb(0, 180, 180);
  color: rgb(0, 180, 180);
}


 /* Intro */
.intro {
  padding-top: 6%;
  background-color: white;
  color: rgb(90, 90, 90);
  padding-bottom: 3%;
}
.intro h1 {
  font-size: 44pt;
  color: rgb(0, 180, 180);
}
.intro h4 {
  color: black;
  text-align: left;
}
.intro-foot h1, h2, h3 {
  color: rgb(0, 180, 180);
}
.intro-foot p, a {
  color: rgb(90, 90, 90);
  padding-bottom: 0%;
}

 /* Education */
.education {
  background-color: rgb(0, 180, 180);
  color: white;
  padding-bottom: 2%;
  padding-left: 0px;
  padding-right: 0px;
}
.education h2 {
  color: white;
}
.education a:hover, li>a:hover {
  font-weight: bold;
}
.education a {
  color: white;
}
.mt a:hover {
  color: rgb(140, 140, 140);
}
.wharton a:hover {
  color: navy;
}
.seas a:hover {
  color: crimson;
}
.bhs a:hover {
  color: navy;
}
.ecms a:hover {
  color: rgb(255, 220, 50);
}
.ur a:hover {
  color: rgb(255, 220, 50);
}

/* Experience */
.experience {
  background-color: white;
  color: rgb(0, 180, 180);
  padding-bottom: 2%;
}

.exp {
  padding-top: 0.5%;
}
.c1 {
  padding-top: 2%;
}
.experience h4 {
  color: rgb(90, 90, 90)
}
.experience p {
  color: rgb(90, 90, 90);
}
.experience li, li>a:hover {
  color: rgb(90, 90, 90);
}
.experience a:hover {
  font-weight: bold;
}
.experience h2 {
  color: rgb(0, 180, 180);
}
.c1 h2, .c1 a {
  color: rgb(0, 73, 119);
}
.muse h2, .muse a {
  color: rgb(247, 125, 86);
}
.sfcu h2, .sfcu a {
  color: rgb(164, 0, 32);
}
.icc h2, .icc a {
  color: rgb(85, 200, 219);
}
.rit h2 {
  color: black;
}
.img-circle {
  padding: 2.5px;
}
