/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  html {
    font-size: 14pt;
  }
  .intro,
  .education,
  .skills,
  .experience,
  .reading,
  .portfolio,
  .contact {
    margin: 0 auto;
    width: 100%;
  }
  a.link {
    border-radius: 6px;
  }
  a.transparent-link {
    padding: 1.5% 4.5%;
    border-radius: 8.5px;
  }
  /***********
  NAV
  ***********/
  .navbar {
    height: 37px;
    padding: 0 10vw;
  }
  .navbar-nav .nav-link  {
    padding: 7.25px 0;
    width: 16vw;
    text-align: center;
  }
  a:hover.nav-link {
    border-top: 2.5px solid black;
  }
  /***********
  INTRO
  ***********/
  .intro {
    padding-top: 3rem;
  }
  .bio {
    margin-bottom: 5%;
    padding: 0 10%
  }
  .bio img {
    width: 95%;
  }
  .tile {
    padding: 3% 4%;
  }
  .tile p {
    font-size: 0.75rem;
    line-height: 1.17rem;
  }
  .hyperlinks {
    padding: 2% 15%;
  }
  .hyperlinks a {
    margin: 0 3%;
    height: 32px;
  }
  .hyperlinks img {
    max-height: 32px;
  }
  .intro button {
    font-size: 0.75rem;
  }

  /***********
  EDUCATION
  ***********/
  .education section {
    margin: 0 15% 4%;
    padding: 2%;
    border-radius: 10px;
  }
  .education section:last-of-type {
    margin-bottom: 0;
  }
  .education h4 {
    font-size: 14pt;
    line-height: 18pt;
  }
  .education h5 {
    font-size: 12pt;
  }
  .education-content img {
    margin: 0 25% 7%;
    width: 50%;
  }
  .education-activities img {
    margin: 5% 10%;
    width: 80%;
  }
  .education-mt p {
    font-size: 9.5pt;
    line-height: 13pt;
  }
  p.education-stats {
    font-size: 11.5pt;
  }
  p.education-text {
    font-size: 10pt;
  }
  p.education-text > a.link {
    padding: 0.5% 2.5%;
  }
  #hs .col-md-4 hr {
    background-color: transparent;
    display: none;
  }
  /***********
  SKILLS
  ***********/
  .skills {
    padding: 5% 15% 0;
  }
  .skills-toggler img {
    max-width: 50%;
  }
  .skills-toggler h5 {
    font-size: 0.95rem;
  }
  .collapse-skills {
    width: 50%;
  }
  .collapse-skills p {
    font-size: 0.875rem;
  }

  /***********
  EXPERIENCE
  ***********/
  .experience {
    padding: 5% 10% 0;
  }
  .experience-description {
    margin-top: 10%;
    padding: 5% 7.5%;
    border-radius: 10px;
  }
  .experience img {
    margin: 0.5% auto;
    max-height: 36px;
  }
  a.experience-link {
    padding: 0.5% 1.25%;
    border-radius: 10px;
  }
  h5.experience-title {
    font-size: 0.8rem;
    line-height: 1rem;
  }
  p.experience-subhead {
    font-size: 0.7rem;
  }
  a.link > .material-icons {
    font-size: 13pt;
  }
  .experience-body {
    margin: 3% 0 0 0;
  }
  p.experience-body {
    font-size: 0.65rem;
    line-height: 1rem;
  }
  /***********
  READING
  ***********/
  .bookshelf img {
    width: 132px;
    height: 198px;
  }
  /***********
  PROJECTS
  ***********/
  .projects section {
    margin: 0 17.5% 2.5%;
    padding: 2.5% 1%;
    border-radius: 10px;
  }
  .project img {
    width: 36px;
  }
  .project h4 {
    font-size: 1.2rem;
  }
  .project .identifier {
    border-radius: 7.5px;
  }
  .project-details {
    width: 90%;
  }
  .tile .project-details p {
    line-height: 1rem;
  }
  /***********
  PORTFOLIO
  ***********/
  .portfolio {
    padding: 5% 10% 0;
  }
  .portfolio .col-4,
  .portfolio .col-sm-3,
  .portfolio .col-lg-2 {
    padding: 9px;
  }
  /***********
  CONTACT ME
  ***********/
  .contact {
    padding: 4% 20% 0;
  }
  /***********
  FOOTER
  ***********/
  footer p {
    font-size: 10pt;
  }
}
