/* Small and extra small devices (phones and tablets, under 768px) */
@media only screen and (min-width: 576px) and (max-width: 768px) {
  html {
    font-size: 13pt;
  }
  .intro,
  .education,
  .skills,
  .experience,
  .reading,
  .contact {
    margin: 0 auto;
    width: 100%;
  }
  a.link {
    border-radius: 5px;
  }
  a.transparent-link {
    padding: 2% 4%;
    border-radius: 8px;
  }
  /***********
  NAV
  ***********/
  .navbar-nav .nav-link  {
    padding-left: 1.5rem;
    width: 35vw;
  }
  /***********
  INTRO
  ***********/
  .about {
    margin-top: 5%;
  }
  .bio {
    padding: 0 15%;
  }
  .tile {
    padding: 4% 6%;
  }
  .hyperlinks {
    padding: 2.5% 0 2%;
    height: 12.5%;
  }
  .hyperlinks a {
    margin: 0 2.5%;
    height: 28px;
  }
  .links img {
    max-height: 28px;
  }
  /***********
  EDUCATION
  ***********/
  .education section {
    margin: 0 12.5% 3%;
    padding: 2.5% 1% 1%;
    border-radius: 10px;
  }
  .education > .row {
    padding-top: 2.5%;
  }
  .education h4 {
    font-size: 13pt;
    line-height: 17pt;
  }
  .education h5 {
    font-size: 11.5pt;
  }
  .education-title img {
    width: 75%;
  }
  .education .transparent-link {
    padding: 2% 4%;
  }
  .education-content img {
    margin: 0 20% 7%;
    width: 60%;
  }
  .education-activities img {
    margin: 7.5% 20%;
    width: 60%;
  }
  .education-mt p {
    font-size: 9pt;
    line-height: 12.5pt;
  }
  p.education-stats {
    font-size: 11pt;
  }
  p.education-text {
    font-size: 10pt;
  }
  #hs .col-sm-6 hr {
    display: block;
    width: 15%;
  }
  /***********
  SKILLS
  ***********/
  .skills {
    padding: 5% 12.5% 0;
  }
  .skills-toggler img {
    max-width: 60%;
  }
  .collapse-skills {
    width: 60%;
  }

  /***********
  EXPERIENCE
  ***********/
  .experience {
    padding: 5% 10% 0;
  }
  .experience-description {
    margin: 5% 0;
    padding: 2.5% 4%;
    border-radius: 10px;
  }
  .experience img {
    max-height: 32px;
  }
  a.experience-link {
    padding: 0.8% 1.75%;
    border-radius: 9px;
  }
  h5.experience-title {
    font-size: 0.85rem;
  }
  p.experience-subhead {
    font-size: 0.75rem;
  }
  a.link > .material-icons {
    font-size: 12pt;
  }
  .experience-body {
    margin: 4% 0 0 0;
  }
  /***********
  READING
  ***********/

  /***********
  CONTACT ME
  ***********/
  .contact {
    padding: 5% 12.5% 0;
  }
  /***********
  FOOTER
  ***********/

}
