selector {
  -webkit/-moz ;
  display: ;
  position: ;
  margin, padding: 0;
  max-width, max-height, min-width, min-height, width, height: 0;
  top, right, bottom, left: 0;
  overflow-x, overflow-y: 0;
  background-size, background-color, background-image ;
  color: ;
  opacity: ;
  font-size: ;
  line-height: ;
  text-align, vertical-align: ;
  border: ; border-radius;
  box-shadow;
}
