/* Extra small devices (phones, less than 768px) */
@media only screen and (min-width: 0px) and (max-width: 768px) {
  html {
    font-size: 12pt;
  }
  .intro,
  .education,
  .skills,
  .experience,
  .reading,
  .portfolio,
  .contact {
    margin: 0 auto;
    width: 100%;
  }
  .bookshelf {
    width: 90%;
  }
  a.link {
    border-radius: 5px;
  }
  a.transparent-link {
    padding: 2.5% 5%;
    border-radius: 8px;
  }
  /***********
  NAV
  ***********/
  .navbar {
    padding-left: 0;
  }
  .navbar-nav .nav-link  {
    padding-left: 1.5rem;
    width: 45vw;
  }
  .navbar-collapse.collapse,
  .navbar-collapse.collapsing {
    padding: 3.5rem 0 0.75rem 0rem;
    /*background: linear-gradient(to bottom,
      rgba(50,20,30,0.8) 0%,
      rgba(140,100,120,0.7) 25%,
      rgba(165,130,135,0.6) 50%,
      transparent 100%);*/
  }
  a:hover.nav-link {
    border-right: 2.5px solid black;
  }
  /***********
  INTRO
  ***********/
  .about {
    margin-top: 10%;
  }
  .bio {
    padding: 0 12.5%;
    margin-bottom: 7.5%;
  }
  .bio img {
    display: none;
  }
  .tile {
    padding: 5% 7.5%;
  }
  .tile p {
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
  .hyperlinks {
    padding: 3% 2%;
    height: 15%;
  }
  .hyperlinks a {
    margin: 0 2%;
    height: 24px;
  }
  .hyperlinks img {
    max-height: 24px;
  }
  .intro button {
    font-size: 0.8rem;
  }
  /***********
  EDUCATION
  ***********/
  .education section {
    margin: 0 0 4%;
    padding: 3% 2%;
    border-radius: 0;
  }
  .education section:last-of-type {
    margin-bottom: 0;
  }
  .education > .row {
    padding-top: 5%;
  }
  .education-title > .col-12 {
    padding-bottom: 10px;
  }
  .education h4 {
    font-size: 13pt;
    line-height: 16pt;
  }
  .education h5 {
    font-size: 11pt;
  }
  .education-title img {
    width: 50%;
  }
  .education-content img {
    margin: 5% 35% 3.5%;
    width: 30%;
  }
  .education-content-supporting {
    margin-top: 4%;
  }
  .education .transparent-link {
    padding: 1.5% 3%;
  }
  .education-activities {
    padding: 1% 0 !important;
  }
  .education-activities img {
    margin: 5% 15%;
    width: 70%;
  }
  .education-mt p {
    font-size: 8.5pt;
    line-height: 11.5pt;
  }
  p.education-stats {
    font-size: 11pt;
  }
  p.education-text {
    font-size: 9.5pt;
  }
  p.education-text > a.link {
    padding: 0.5% 1.5%;
  }
  #hs hr {
    display: block;
    width: 20%;
  }
  /***********
  SKILLS
  ***********/
  .skills {
    padding: 5%;
  }
  .skills-toggler img {
    max-width: 60%;
  }
  .skills-toggler h5 {
    font-size: 1rem;
  }
  .collapse-skills {
    width: 80%;
    margin-bottom: 10%;
  }
  .collapse-skills p {
    font-size: 0.9rem;
  }
  /***********
  EXPERIENCE
  ***********/
  .experience .col-12 {
    margin: 0; padding: 0;
  }
  .experience-description {
    margin-top: 1.5%;
    padding: 4.5%;
    border-radius: 0;
  }
  .experience img {
    margin: 1% auto;
    max-height: 28px;
  }
  a.experience-link {
    padding: 0.75% 1.75%;
    border-radius: 8px;
  }
  h5.experience-title {
    font-size: 0.9rem;
    line-height: 1.2rem;
  }
  p.experience-subhead {
    font-size: 0.75rem;
  }
  a.link > .material-icons {
    font-size: 11pt;
  }
  .experience-body {
    margin: 4% 0 0 0;
  }
  p.experience-body {
    font-size: 0.8rem;
  }
  /***********
  READING
  ***********/
  .bookshelf img {
    width: 108px;
    height: 162px;
  }
  /***********
  PROJECTS
  ***********/
  .projects section {
    margin: 5% 0;
    padding: 3%;
    border-radius: 0;
  }
  .project img {
    width: 32px;
  }
  .project h4 {
    font-size: 1.25rem;
  }
  .portfolio a > p {
    font-size: 20pt;
  }
  .tile p.identifiers {
    line-height: 1.4rem;
  }
  .project .identifier {
    border-radius: 5px;
  }
  .project-details {
    width: 100%;
  }
  .tile .project-details p {
    line-height: 1.1rem;
  }
  /***********
  PORTFOLIO
  ***********/
  .portfolio {
    padding: 0 2.5%;
  }
  .portfolio .col-4,
  .portfolio .col-sm-3,
  .portfolio .col-lg-2 {
    padding: 5px;
  }
  /***********
  CONTACT ME
  ***********/
  .contact {
    padding: 7.5% 10% 0;
  }

  /***********
  FOOTER
  ***********/
  footer p {
    font-size: 9pt;
  }
}
