head {
  background-color: white;
}
body {
  background-color: white;
}


/* General container */
.container-fluid {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}


/* Navigation bar */
.navbar-nav {
  background-color: white;
  padding-top: 0px;
  padding-bottom: 0px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-family: "Helvetica Neue";
  font-size: 14px;
  color: black;
}

.navbar-nav li>a {
  color: white;
}


 /* Intro */
.intro {
  padding-top: 7%;
  background-color: white;
  color: rgb(90, 90, 90);
  padding-bottom: 3%;
}

.intro h1 {
  color: black;
}
.intro h4 {
  color: black;
  text-align: left;
}

/* Paragraph styling */
p {
  line-height: 150%;
}

p a {
  color: rgb(0, 180, 180);
}

.img-responsive {
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Footer */
.footer{
  align-self: center;
  padding-top: 25px;
  background-color: white;
}

.footer h5 {
  text-align: center;
  padding: 0px;
}
.footer a {
  padding: 3px;
  background-color: white;
  color: navy;
}
