/**
AndrewCui.com
2018
stylesheet.css
[Creative Commons attributions inline]
**/

/** page style setup **/
html {
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   width: 100%;
   overflow-x: hidden;
   overflow-y: scroll;
}
h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 3.25rem;
}
h2 {
  font-family: 'Yantramanav', sans-serif;
  font-size: 2.25rem;
}
h3 {
  font-family: 'Libre Franklin', sans-serif;
  margin-bottom: .25rem;
  font-size: 1.5rem;
}
h4 {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}
p {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}
/** navigation **/
#colorbar {
  background: radial-gradient(circle farthest-side at center bottom, #FF9100, #EC407A 50%, #BA68C8 120%);
  position: fixed;
  top: 0;
  height: .5rem;
  width: 100%;
  z-index: 2;
}
.fixed-top {
  top: .5rem;
}
nav {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  background-color: rgba(255,255,255,.95);
}
.navbar-brand {
  font-family: 'Yantramanav', sans-serif;
  font-weight: 400;
}
.nav-icon a {
  font-size: 1.5rem;
  margin: auto .75rem;
  color: rgba(0,0,0,.6);
}
a.nav-link {
  font-size: .9375rem;
  margin: 0 .125rem;
}
nav a:hover,
.navbar-light .navbar-nav a.nav-link:hover {
  color: #EC407A;
}
.navbar-toggler-icon {
  width: 1.375rem;
  height: 1.5rem;
}
.navbar-toggler,
.navbar-toggler:focus {
  border: none;
  box-shadow: none;
  outline: none;
}
/** section structures **/
main {
  background-color: white;
}
section {
  padding: 0 2rem;
}
.section-img {
  min-height: calc(25rem + 48px);
  background-size: cover;
  display: flex;
  align-items: center;
}
.section-img:first-of-type,
#head .container:first-of-type {
  min-height: 30rem;
}
.section-text {
  padding-top: calc(4rem + 48px);
  padding-bottom: 4rem;
}
.overlay {
  position: relative;
  width: 100%;
  padding: 3.75rem 0;
  min-height: 15rem;
}
.overlay:first-of-type {
  padding-top: 6rem;
}
.overlay-content {
  padding-bottom: 1rem;
  border-radius: 4px;
  color: white;
}
.overlay-nav button {
  background: transparent;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}
.overlay-nav button:hover {
  background-color: rgba(255,255,255,.9);
}
.overlay-nav li:nth-child(4n + 1) > a button:hover,
.overlay-nav a:nth-child(4n + 1) > button:hover {
  color: #EC407A;
}
.overlay-nav li:nth-child(4n + 2) > a button:hover,
.overlay-nav a:nth-child(4n + 2)  > button:hover {
  color: #FF9100;
}
.overlay-nav li:nth-child(4n + 3) > a button:hover,
.overlay-nav a:nth-child(4n + 3) > button:hover {
  color: #BA68C8;
}
.overlay-nav li:nth-child(4n) > a button:hover,
.overlay-nav a:nth-child(4n) > button:hover {
  color: #F44336;
}
.m-auto {
  margin: 0 auto;
}
.btn:focus {
  box-shadow: none;
}
.btn {
  padding: .25rem .75rem;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}
@media screen and (max-width: 576px) {
  section {
    padding: 0 1rem;
  }
  .section-text {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
/** section: head/intro **/
#head {
  background-image: url('https://images.pexels.com/photos/671658/pexels-photo-671658.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  /** Pexels: Suket Dedhia **/
  background-position: 0 35%;
  padding: 0;
  /* background-image: url('https://scontent-iad3-1.xx.fbcdn.net/v/t31.0-8/28516132_1586209504802400_4432278354233318669_o.jpg?oh=e5367f4e579244199bce7bff7b0dc13a&oe=5B11FE18'); */
  /** Facebook **/
}
#head .container {
  background-color: rgba(0,0,0,0.3);
  margin: 0;
  max-width: 100%;
  min-height: 25rem;
  height: 100%;
}
.intro-col {
  margin-bottom: 1rem;
  padding: 0 2rem;
}
.intro-btn {
  color: rgba(0,0,0,.7);
  border-color: rgba(0,0,0,.7);
}
.intro-btn:hover {
  background-color: rgba(0,0,0,.7);
  color: white;
}
.img-wrapper {
  height: 120px;
}
.img-wrapper img {
  max-width: 55%;
  max-height: 100px;
}
#penn .intro-btn {
  color: #01256E;
  border-color: #01256E;
}
#penn .intro-btn:hover {
  background-color: #01256E;
  border-color: #01256E;
  color: white;
}
#optiver .intro-btn {
  color: #D15945;
  border-color: #D15945;
}
#optiver .intro-btn:hover {
  background-color: #D15945;
  color: white;
}
#apahw .img-wrapper {
  padding-bottom: 0;
}
@media screen and (max-width: 576px) {
  .intro-col {
    margin-bottom: 2rem;
    padding: 0 1rem;
  }
  .img-wrapper {
    height: 100px;
  }
  .img-wrapper img {
    max-width: 45%;
  }
  #apahw .img-wrapper img {
    max-width: 50%;
  }
  #apahw .img-wrapper {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .img-wrapper img {
    max-width: 55%;
  }
  #apahw .img-wrapper img {
    max-width: 60%;
  }
}
/** section: work **/
#work {
  background-image: url('https://images.pexels.com/photos/414645/pexels-photo-414645.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  /** Pexels: Pixabay **/
}
.modal-body > ul li {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
}
.tab-content {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.tab-pane.active {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.work-entry {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  background-image: linear-gradient(to right, #575757 10%, transparent 0%);
  background-position: bottom;
  background-size: 12px 2px;
  background-repeat: repeat-x;
}
.work-entry h4 {
  font-weight: 400;
}
.work-entry h5 {
  margin-bottom: 1rem;
}
.work-entry a {
  color: rgba(0,0,0,.75);
}
.work-entry a:hover {
  color: black;
}
.work-entry img {
  height: 3rem;
  margin-bottom: 1rem;
}
.inactive {
  opacity: .6;
}
.tab-close {
  position: absolute;
  margin-top: -2rem;
  right: 2rem;
}
.tab-close:hover {
  transform: scale(1.25, 1.25);
  transition: .25s;
}
/** section: creative **/
#creative {
  background-image: url('https://images.pexels.com/photos/7764/pexels-photo.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  background-position: center 47.5%;
  /** Pexels: Life of Pix **/
}
.photo {
  width: 100%;
}
.card {
  border-radius: 4px;
}
.card-img-top {
  border-radius: 4px 4px 0 0;
}
.card-title {
  text-align: center;
}
.card-body {
  padding-bottom: 0;
}
.card-text {
  font-size: .8125rem;
}
/** section: contact **/
#contact {
  background-image: url('https://images.pexels.com/photos/872958/pexels-photo-872958.jpeg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb');
  /** Pexels: rawpixel **/
  background-position: 75% 40%;
}
#contact .overlay-content {
  color: rgba(0,0,0,.7);
  padding-bottom: 0;
}
#contact a {
  font-size: 1.125rem;
  margin-right: .5rem
}
@media screen and (max-width: 576px) {
  #contact .overlay-content {
    padding-right: 5rem;
  }
}
/** footer **/
footer {
  margin-top: 4rem;
  bottom: 0;
  width: 100%;
  padding: 0 5%;
}
.footer-dots {
  margin-top: 1rem;
  background-image: linear-gradient(to right, #575757 10%, transparent 0%);
  padding: 12px 0;
  background-position: top;
  background-size: 12px 1px;
  background-repeat: repeat-x;
}
footer p {
  margin-bottom: .5rem;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  text-decoration: none;
}
.footer-icon p {
  font-size: 20px;
}
p#copyright {
  color: #575757;
  font-family: 'Raleway', sans-serif;
}
#contact a,
a {
  color: #EC407A;
}
#contact a:hover,
a:hover {
  /* color: #BA68C8; */
  color: #F44336;
}
